@model IQueryable<VeiculoViewModel>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>NomeVeiculo</th>
            <th>Valor</th>


        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var p in Model)
            {
                <tr>
                    <td>@p.NomeVeiculo</td>
                    <td>@p.Valor</td>

                    <td>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#add-Veiculo" href='@Url.Action("Add", "Veiculo", new { Id = p.Id })' title="alterar Veiculo">
                            <i class="material-icons">
                                create
                            </i>
                        </a>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cnt-Veiculo" href='@Url.Action("Delete", "Veiculo", new { Id = p.Id })' title="deletar Veiculo" data-ajax-confirm="Deseja realmente excluir Veiculo?">
                            <i class="material-icons">
                                restore_from_trash
                            </i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>