@model IQueryable<VendaViewModel>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>IdCliente</th>
            <th>IdVeiculo</th>


        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var p in Model)
            {
                <tr>
                    <td>@p.IdCliente</td>
                    <td>@p.IdVeiculo</td>

                    <td>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#add-Venda" href='@Url.Action("Add", "Venda", new { Id = p.Id })' title="alterar Venda">
                            <i class="material-icons">
                                create
                            </i>
                        </a>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cnt-Venda" href='@Url.Action("Delete", "Venda", new { Id = p.Id })' title="deletar Venda" data-ajax-confirm="Deseja realmente excluir Venda?">
                            <i class="material-icons">
                                restore_from_trash
                            </i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>