@model DadosProfissionaisViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Bem vindo a nossa página de Dados Profissionais</h2>

<div id="add-DadosProfissionais">
    @Html.Partial("Add", Model)
</div>