@model IQueryable<ReferenciaViewModel>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>


        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var p in Model)
            {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Telefone</td>
                    
                    <td>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#add-Referencia" href='@Url.Action("Add", "Referencia", new { Id = p.Id })' title="alterar Referencia">
                            <i class="material-icons">
                                create
                            </i>
                        </a>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cnt-Referencia" href='@Url.Action("Delete", "Referencia", new { Id = p.Id })' title="deletar Referencia" data-ajax-confirm="Deseja realmente excluir Referencia?">
                            <i class="material-icons">
                                restore_from_trash
                            </i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>